legacy-peer-deps=true
registry=https://pkgs.dev.azure.com/NAF-Tech/_packaging/NAF-Marketing/npm/registry/ 
                        
always-auth=true

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=41C05831-5711-44F6-AD38-A4C77055CA90
