@use "./../../assets/styles/abstracts/colors" as *;

.naf-card {
  box-shadow: 1px 1px 15px -4px;
  background-color: $color-white;
  border-radius: 10px;
  border-color: $color-dark-blue;
  margin: 30px;
  padding: 10px;
  &__small{
    min-height: 30px;
  }
  &__medium {
    min-height: 70px;

  }
  &__large {
    min-height:100px
  }
}
