/* Fonts */
$font-roboto: "Roboto", sans-serif;
$font-poppins: "Poppins", sans-serif;
$font-base: 1.6rem;

$fontweight-regular: 400;
$fontweight-medium: 500;
$fontweight-semibold: 600;
$fontweight-bold: 700;